<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header :: header(~{::title})">
    <title>Create Order</title>
</head>
<body class="bg-light">

<th:block th:replace="_nav :: nav"/>
<main role="main" class="container">
    <div class="py-5 text-center">
        <h2>Create Order</h2>
        <p th:if="${validationError}" th:text="${validationError}">validation error</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <form action="#" th:action="@{/create-order}" th:object="${orderForm}" method="post">

                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="portalId">PortalId</label>
                        <input id="portalId" type="text" class="form-control" th:field="*{portalId}" />
                        <div th:if="${#fields.hasErrors('portalId')}" th:errors="*{portalId}" class="help-block">error</div>
                    </div>
                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="investorId">InvestorId</label>
                        <input id="investorId" type="text" class="form-control" th:field="*{investorId}" />
                        <div th:if="${#fields.hasErrors('investorId')}" th:errors="*{investorId}" class="help-block">error</div>
                    </div>
                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="portalId">CompanyId</label>
                        <input id="companyId" type="text" class="form-control" th:field="*{companyId}" />
                        <div th:if="${#fields.hasErrors('companyId')}" th:errors="*{companyId}" class="help-block">error</div>
                    </div>

                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="campaignId">Camping ID</label>
                        <input id="campaignId" type="text" class="form-control" th:field="*{campaignId}" />
                        <div th:if="${#fields.hasErrors('campaignId')}" th:errors="*{campaignId}" class="help-block">error</div>
                    </div>

                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="campaignId">Iban</label>
                        <input id="iban" type="text" class="form-control" th:field="*{iban}" />
                        <div th:if="${#fields.hasErrors('iban')}" th:errors="*{iban}" class="help-block">error</div>
                    </div>

                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="campaignId">Item</label>
                        <input id="item" type="text" class="form-control" th:field="*{item}" />
                        <div th:if="${#fields.hasErrors('item')}" th:errors="*{item}" class="help-block">error</div>
                    </div>

                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="campaignId">Total Amount</label>
                        <input id="totalAmount" type="text" class="form-control" th:field="*{totalAmount}" />
                        <div th:if="${#fields.hasErrors('totalAmount')}" th:errors="*{totalAmount}" class="help-block">error</div>
                    </div>

                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="campaignId">Order Amount</label>
                        <input id="orderAmount" type="text" class="form-control" th:field="*{orderAmount}" />
                        <div th:if="${#fields.hasErrors('orderAmount')}" th:errors="*{orderAmount}" class="help-block">error</div>
                    </div>
                    <div class="col-md-9 mb-3">
                        <label class="control-label" for="campaignId">Description</label>
                        <input id="description" type="text" class="form-control" th:field="*{description}" />
                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="help-block">error</div>
                    </div>
                    <!-- radio -->
                    <div class="col-md-9 mb-3">
                        <label class="control-label">Threshold</label>
                        <div class="custom-control custom-radio" th:each="item : ${radioThresholdItems}">
                            <input type="radio" class="custom-control-input" th:value="${item.value}" th:field="*{radioThreshold}" />
                            <label class="custom-control-label" th:for="${#ids.prev('radioThreshold')}" th:text="${item.key}"></label>
                        </div>
                        <div th:if="${#fields.hasErrors('radioThreshold')}" th:errors="*{radioThreshold}" class="help-block">error</div>
                    </div>

                    <div class="col-md-9 mb-3">
                        <label class="control-label">Channel</label>
                        <div class="custom-control custom-radio" th:each="item : ${radioChannelItems}">
                            <input type="radio" class="custom-control-input" th:value="${item.value}" th:field="*{radioChannel}" />
                            <label class="custom-control-label" th:for="${#ids.prev('radioChannel')}" th:text="${item.key}"></label>
                        </div>
                        <div th:if="${#fields.hasErrors('radioChannel')}" th:errors="*{radioChannel}" class="help-block">error</div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">confirm</button>
                </form>

            </div>
        </div>
    </div>

    <footer class="text-muted text-center text-small">
        <p class="mb-1">&nbsp;</p>
    </footer>
</main>

<th:block th:replace="_include :: basic"/>
</body>
</html>